html
    head
        link(rel='stylesheet' href='stylesheets/main.css')
form(action="/api" method="post")
    input(type="text" name="login")
    input(type="text" name="pwd")
    button(type="submit")
    script(src="javascripts/main.js")